.cartMatCard{
  width: 260px;
  height: 350px;
  display: flex;
  flex-direction: column;
}
.cartMatCardActions{
  display: flex;
  justify-content: center;
  align-content: center;
}
.total {
  display: flex;
  justify-content: center;
  align-content: center;
}

