.cartMatCard{
  display: flex;
  width: 250px;
  height: 230px;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
@media (max-width: 400px){
  .cartMatCard{
    display: flex;
    width: 250px;
    height: 340px;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
}

