.toolbar{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: fit-content!important;
}

.navButton{
  width: 10rem;
  margin: 0.7rem 2rem;
}

.authButton{
  margin: 0.7rem 0;
}

.headerImage{
  display: flex;
  height: 25%;
  width: 70%;
  margin: auto;
}
.mobileHeaderImage{
  display: none;
}

@media (max-width: 400px) {
  .toolbar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content!important;
  }
  .headerImage{
    display: none;
  }
  .mobileHeaderImage{
    display: flex;
    height: 60%;
    width: 100%;
  }
}

