<img src="/assets/images/header.jpg" class="headerImage">
<mat-toolbar class="toolbar" color="accent">
  <button mat-raised-button class="navButton" color="primary" [routerLink]="['/']">Shop</button>
  <button mat-raised-button class="navButton" color="primary" [routerLink]="['/me']">My Account</button>
  <button mat-raised-button class="navButton" color="primary" [routerLink]="['/about']">About us</button>
  <button *ngIf="!authenticationStatus()" mat-raised-button color="primary" (click)="openAuthDialog()" class="authButton"><mat-icon matSuffix>vpn_key</mat-icon></button>
  <button *ngIf="authenticationStatus()" mat-raised-button color="primary" (click)="openLogoutConfirmationDialog()" class="authButton"><mat-icon matSuffix>exit_to_app</mat-icon></button>
</mat-toolbar>
