<mat-card>
  <mat-card-content>
    <h1>ADMIN MODE</h1>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="disableAdminMode()" [routerLink]="['']">Go back to shop</button>
  </mat-card-actions>
</mat-card>
<mat-grid-list class="optionsGrid" cols="4" rowHeight="1:2">
  <mat-grid-tile-header>
    <button mat-raised-button class="adminMenuButtons" color="primary" [routerLink]="['admin/manageProducts']">
      Manage products <br/>
      <mat-icon matSuffix>playlist_add</mat-icon>
    </button>
    <br/>
    <button mat-raised-button class="adminMenuButtons" color="primary">
      Operator view <br/>
      <mat-icon matSuffix>recent_actors</mat-icon>
    </button>
  </mat-grid-tile-header>
</mat-grid-list>
