<mat-tab-group dynamicHeight>
  <mat-tab label="Sign up">
<form novalidate (keydown.enter)="$event.target.tagName == 'TEXTAREA'" [formGroup]="formGroupRegistration" (ngSubmit)="initRegistrationProcess()" class="signUpForm">
  <div mat-dialog-content class="dialogContent">
    <mat-form-field>
      <input matInput placeholder="Username" name="registrationUsername" type="text" [(ngModel)]="registrationForm.username"
              formControlName="usernameFormControl">
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" name="registrationPassword" type="password" [(ngModel)]="registrationForm.password"
             formControlName="passwordFormControl">
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Name" name="registrationName" type="text" [(ngModel)]="registrationForm.name"
             formControlName="nameFormControl">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone number" name="registrationPhone" type="text" [(ngModel)]="registrationForm.phoneNumber"
             formControlName="formPhoneControl">
      <mat-icon matSuffix>local_phone</mat-icon>
      <mat-hint>For example: +375 (29) 123-12-31</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Shipping address" name="registrationShippingAddress" type="text" [(ngModel)]="registrationForm.shippingAddress"
             formControlName="addressFormControl">
      <mat-icon matSuffix>location_city</mat-icon>
    </mat-form-field>
    <mat-chip-list>
    <mat-chip color="warn" [disabled]="true" *ngIf="!registrationSuccess">Server error</mat-chip>
    </mat-chip-list>
  </div>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit"
            [disabled]="formGroupRegistration.invalid">Sign up</button>
  </mat-dialog-actions>
</form>
  </mat-tab>
  <mat-tab label="Login">
    <form novalidate (keydown.enter)="$event.target.tagName == 'TEXTAREA'" [formGroup]="formGroupLogin" (ngSubmit)="initLoginProcess()" class="signUpForm">
      <div mat-dialog-content class="dialogContent">
        <mat-form-field>
          <input matInput placeholder="Username" name="registrationUsername" type="text" [(ngModel)]="loginForm.username"
                 formControlName="usernameFormControl">
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" name="registrationPassword" type="password" [(ngModel)]="loginForm.password"
                 formControlName="passwordFormControl">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
      </div>
      <mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="formGroupLogin.invalid">Login</button>
      </mat-dialog-actions>
    </form>
  </mat-tab>
</mat-tab-group>
