<br/>
<mat-grid-list class="productGrid" cols="5" rowHeight="1:2">

  <mat-grid-tile class="cartTile">
    <div class="Cart">
      <app-cart>
        <app-cart-content></app-cart-content>
      </app-cart>
    </div>
  </mat-grid-tile>

  <mat-grid-tile *ngFor="let productInfo of productInfoList">
    <app-product-card [productInfo]="productInfo" (syncCartContent)="triggerSyncInCartContent()"></app-product-card>
  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile *ngFor="let productInfo of productInfoList">
    <app-product-card [productInfo]="productInfo" (syncCartContent)="triggerSyncInCartContent()"></app-product-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile *ngFor="let productInfo of productInfoList">
    <app-product-card [productInfo]="productInfo" (syncCartContent)="triggerSyncInCartContent()"></app-product-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
