.productGrid{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.showCartButton{
  width: 260px;
  display: flex;
  flex-direction: column;
}
.cartTile{
  width: auto;
}

