.cartDesktop{
  display: flex;
  position: fixed;
  top: 55vh;
  z-index: 1;
  justify-content: center;
}
.cartMobile{
  display: flex;
}
.productGrid{
  margin: 5rem 17rem!important;
}

.productTile{
  width: 100%;
  padding: 2rem;
}

@media (max-width: 1000px) {
  .productGrid{
    margin: 0 0 0 0!important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .productTile{
    padding: 1rem 0;
    width: fit-content;
  }
}
