 <mat-card>
      <mat-card-header>
        <h1>About us</h1>
      </mat-card-header>
      <mat-card-content>

        <h3>The GreenWay Shop project</h3>
        <h3>Author: Andrei Mazalo, student of Minsk Radioengineering College</h3>
        <button mat-raised-button (click)="goToAdmin()" [routerLink]="['/admin/manageProducts']">Click here to access admin functionality</button>

        <br/>
        <br/>
        <h1>Project's features:</h1>
        <h4><b> For shop owners: </b></h4>
        <h4>-CRUD operations on products; </h4>
        <h4> -New orders tracking functionality for workers to provide </h4>
        <h4>  ability for them to call back for order confirmation; </h4>

          <h4> <b>  For customers: </b></h4>
          <h4> -Main page with products list; </h4>
          <h4> -Cart management; </h4>
        <h4> -Ability to place the order; </h4>
        <h4> -Profile view and orders view; </h4>
        <h4>  -CRUD operations for profile info; </h4>
        <h4> -Discount system for customers;</h4>
        <h4>  -About shop page;
        </h4>
      </mat-card-content>

 </mat-card>
