<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="formGroup">
  <form novalidate [formGroup]="formGroup">
    <ng-template matStepLabel>Fill product info</ng-template>
      <mat-form-field>
      <input matInput placeholder="Product name" name="productNameInput" type="text"
             [(ngModel)]="product.name" formControlName="nameFormControl">
      </mat-form-field>
      <mat-form-field>
      <input matInput placeholder="Price" name="productPriceInput" type="text"
             [(ngModel)]="product.price" formControlName="priceFormControl">
      </mat-form-field>
      <mat-form-field>
      <mat-label>Add a description</mat-label>
      <textarea matInput placeholder="This product is..."
                [(ngModel)]="product.price"></textarea>
      </mat-form-field>
    <button mat-button matStepperNext (click)="submitToServer()">Next</button>
  </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Upload product image</ng-template>
    <input type="file" accept="image/jpeg" value="Select image" (change)="selectFile($event)" *ngIf="!isAdded">
    <mat-icon color="primary" *ngIf="isAdded">done_outline</mat-icon>
  </mat-step>
</mat-vertical-stepper>
