.dialogContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.radioPaymentMethodInput{
  display: flex;
  flex-direction: column;
}
input{
  margin: 5px;
}
