<mat-grid-list class="productGrid" cols="4">
  <mat-grid-tile-header>
  <mat-card class="welcomeHeader"><h1>Welcome, {{userInfo.name}}!</h1></mat-card>
  </mat-grid-tile-header>
  <mat-grid-tile>
  </mat-grid-tile>
  <mat-grid-tile>
   <mat-card>
     <mat-card-header>
       <h2>Your info:</h2>
     </mat-card-header>
     <mat-card-content>
       <mat-card class="userInfo">
         <h4><b>username:</b> {{userInfo.username}}</h4>
         <h4><b>phone number:</b> {{userInfo.phoneNumber}}</h4>
         <h4><b>shipping address:</b> {{userInfo.shippingAddress}}</h4>
       </mat-card>
     </mat-card-content>
     <mat-card-footer><mat-card class="welcomeHeader"><h3>Your personal discount: {{userInfo.discount}}%</h3></mat-card></mat-card-footer>
   </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="orders">
    //orders with pagination
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>
