.flex-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}
.userInfoCard{
  margin: 1rem 1rem;
}


.welcomeHeader{
  display: flex;
  justify-content: center;
}

.ordersTableCard{
  margin: 2rem 5rem;
}

.ordersMatTable {
  overflow-y: auto !important;
  overflow-x: hidden;
  height: 270px !important;
}

mat-table {
  width: 100%;
}


@media (max-width: 400px) {
  .flex-cont{
    flex-direction: column;
  }
  .userInfoCard {
    margin: 2rem 2rem;
  }
}
